NEXT_PUBLIC_SUPABASE_URL=https://hbridvywyyufknxjggcp.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=
RESEND_API_KEY=
EMAIL_FROM=bolao@seudominio.com.br
NEXT_PUBLIC_BASE_URL=http://localhost:3000
ADMIN_SECRET=
